{% extends "base.html.jinja" %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
{{ body|safe }}

{% if sibling_pages %}
<h1>Posts</h1>

{% for page in sibling_pages|sort(reverse=true, attribute="datePublished") %}
<article>
  <h3><a href="{{ page.url }}">{{ page.headline }}</a></h3>
  {% with data = page %}
  {% include "./partials/blogposting-metadata.html.jinja" %}
  {% endwith %}
  <p>{{ page.abstract }}</p>
  <img src="{{page.thumbnailUrl}}" loading="lazy" style="max-height: 300px;">
  <p><a href="{{ page.url }}">Continue reading &rarr;</a></p>
</article>
{% if not loop.last %}
<hr>{% endif %}
{% endfor %}

{% endif %}

{% endblock %}
