{% extends "base.html.jinja" %}

{% block title %}{{ headline }}{% endblock %}
{% block description %}{{ abstract}}{% endblock %}

{% block body %}
{{ body|safe }}

{% if dateModified %}
{% include "./partials/last-updated.html.jinja" %}
{% endif %}
</article>
{% endblock %}
